h1 {
  color: blue;
  font-size: 50px;
  border: dashed;
  border-color: blue;
  text-align: center;
  }

body {
  background-color: orange;
  font-family: Times, "Times New Roman";
  }

h2 {
  color: green;
}

a { 
  color: red;
}
a:visited {
  color: purple;
  }

a:hover {
  font-size: 40px;
}

h3 {
  color: red;
}

ul {
  color: blue;
}
